body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  background-color: #f0f0f0; /* Color de fondo para el cuerpo, ajusta según tus preferencias */
}

h1 {
  font-size: 5em;
  margin-bottom: 20px; /* Espaciado inferior para separar el título del contenido siguiente */
}

h2 {
  font-size: 24px;
  margin-top: 20px; /* Espaciado superior para separar el título del contenido anterior */
}

#root{
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

.container-components{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15%;
}